<% if (Calendar.instance.get(Calendar.DAY_OF_MONTH) % 7 == 0) { %>
	<hr/>
	<h4>\$25 bonus!</h4>
	<a href="https://goo.gl/xWERqw">Payoneer</a>
	is a major payment gate for receiving money from different freelance marketplaces like Upwork.
	It has referral program where both you and me get \$25 each upon your first withdwrawal.<br/>
	Simply use my <a href="https://goo.gl/xWERqw">referral link</a> to register. Thank you!
	<hr/>
	<br/>
<% } %>