<h3><a href="http://lancemonitor.com?ref=cmp0.4.1">LanceMonitor</a>, радость - четыре новых фриланс сайта!</h3>
<p>
Недавно мы добавили получение данных с еще четырех сайтов фриланса:
</p>
<p>
<a href="http://guru.com">guru.com</a> - международный, 3000 предложений ежедневно.<br/>
<a href="http://freelancer.com">freelancer.com</a> - международный, 2500 предложений ежедневно.<br/>
<a href="http://peopleperhour.com">peopleperhour.com</a> - международный, 300 предложений ежедневно.<br/>
<a href="http://freelancehunt.com">freelancehunt.com</a> - СНГ, 80 предложений ежедневно.<br/>
</p>

<h4>Не могли бы вы нам помочь?</h4>
<p>
Если LanceMonitor хотя бы раз помог найти работу... Поделитесь ссылкой на сервис там, где ее могут увидеть: http://lancemonitor.com?ref=cmp0.4.1 
<br/>Спасибо за помощь!
</p>

<br/>
<hr/>


<h3><a href="http://lancemonitor.com?ref=cmp0.4.1">LanceMonitor</a> rocks - four new marketplaces!</h3>
<p>
Four new marketplaces were added recently for your job search convenience:
</p>
<p>
<a href="http://guru.com">guru.com</a> - global marketplace, 3000 daily jobs.<br/>
<a href="http://freelancer.com">freelancer.com</a> - global marketplace, 2500 daily jobs.<br/>
<a href="http://peopleperhour.com">peopleperhour.com</a> - global marketplace, 300 daily jobs.<br/>
<a href="http://freelancehunt.com">freelancehunt.com</a> - CIS marketplace, 80 daily jobs.<br/>
</p>

<h4>Can you do us a favor?</h4>
<p>
If LanceMonitor has ever made your life simpler... Share the link whenever people can see it: http://lancemonitor.com?ref=cmp0.4.1
<br/>We highly appreciate your help!
</p>

<br/>
<hr/>
<i>Blazing fast, <a href="http://lancemonitor.com?ref=emailSub">LanceMonitor.com</a></i>